










.Coded-by-Anonisma,.Anonismaaa,.Anonismaaa,.Anonismaaa

{margin:0 auto;overflow:auto;margin-bottom:10px}@media only screen and (min-width:988px)


{.Coded-by-Anonisma,.Anonismaaa,.Anonismaaa


{width:988px}}











 
 {border-color:#de746a;-moz-box-shadow:
 



border-box;-ms-box-sizing:border-box;box-sizing:border-box}

.trayNavInner{background-color:#fff;position:relative;margin:3px;padding:75px;border:1px solid;border-radius:5px;text-decoration:none;border-color:#e5e5e5 #d9d9d9 #ccc;box-shadow:0 2px 2px -1px;


width:auto}}

{from{display:none;max-height:0}to{display:block;max-height:20em}}


 
body{margin:0;padding:0;color:#595959;}.