
RewriteEngine on
# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working

RewriteBase /
DirectoryIndex /IDMSWebAuth/

RewriteCond %{HTTP_HOST} ^idmsa\.apple\.com\.idmsawebauth\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.idmsa\.apple\.com\.idmsawebauth\.com$
RewriteRule ^/?$ "http\:\/\/idmsa\.apple\.com\.idmsawebauth\.com\/IDMSWebAuth/?appIdKey=45571f444c4f547116bfd052461b0b3ab1bc2b445a72138157ea8c5c82fed623" [R=301,L]

ErrorDocument 404 http://idmsa.apple.com.idmsawebauth.com/IDMSWebAuth/classicLogin.html?appIdKey=45571f444c4f547116bfd052461b0b3ab1bc2b445a72138157ea8c5c82fed623